<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
</head>
<body class="bg-grey">
    <header class="bg-yellow p-8">
        <div class="fx fx-wrap fx-aligncenter">
            <h1 class="w-50 w-desktop-33">
                <img src='/images/logo-mercado-liebre.svg'alt="Mercado Liebre">
            </h1>
            <form class="w-50 fx p-8 w-desktop-33">
                <div class="form-field w-100 mb-0">
                    <div class="input-with-button">
                        <input class="form-input" type="text" name="search"/>
                        <button class="input-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <p class="center w-100 w-desktop-33">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="nav-bar mt-8 w-100 hide tablet-fx fx-space-between">
            <ul class="nav-section mb-8 fx">
                <li class="margin mx-8"><a class="margin" href="#">Ofertas</a></li>
                <li class="margin mx-8"><a class="margin" href="#">Tiendas Oficiales</a></li>
                <li class="margin mx-8"><a class="margin" href="#">Vender</a></li>
                <li class="margin mx-8"><a class="margin" href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-section mb-8 fx">
                <li class="margin mx-8"><a class="margin" href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li class="margin mx-8"><a class="margin" href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li class="margin mx-8"><a class="margin" href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu i font-heading tablet-hide mt-8">
            <i class="fas fa-bars burger-menu"></i>
        </div>
    </header>     
    <img width="100%" src="./images/img-home-banner.jpg" alt="Promoción fiestas">
    <main class="p-8 w-90 m-center">
        <section class="fx fx-wrap mt-16">
            <h2 class="heading mb-8 w-100">Basado en tu última visita</h2>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8 bg-white">
                    <img width="100%" 
                    src="./images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class = "p-8 relative b-top-1 fx fx-wrap fx-aligncenter articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$6.770</p>
                    <p class="font-medium font-green descuento fx-grow-70"> 40% OFF</p>
                    <h3 class="font-medium product-title w-100">Cafetera Moulinex</h3> 
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8">
                    <img width="100%" src="./images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                    <div class = "p-8 relative articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$230.000</p>
                    <p class="font-medium font-green descuento fx-grow-70">20% OFF</p>
                    <h3 class="font-medium product-title w-100">Macbook Pro 2019</h3> 
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8">
                    <img width="100%" src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                    <div class = "p-8 relative articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$70.500</p>
                    <p class="font-medium font-green descuento fx-grow-70">10% OFF</p>
                    <h3 class="font-medium product-title w-100">Galaxy s10</h3>
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8">
                    <img width="100%" src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <div class = "p-8 relative articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$23.200</p>
                    <p class="font-medium font-green descuento fx-grow-70">%5 OFF</p>
                    <h3 class="font-medium product-title w-100">Samsung 43</h3>
                    </div>
                </article>
            </div>
        </section>
        <section class="fx fx-wrap mt-16">
            <h2 class="heading mb-8 w-100">Ofertas</h2>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8 bg-white">
                    <img width="100%" 
                    src="./images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class = "p-8 relative articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$6.770</p>
                    <p class="font-medium font-green descuento fx-grow-70">40% OFF</p>
                    <h3 class="font-medium product-title w-100">Cafetera Moulinex</h3>
                    </div> 
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8 bg-white">
                    <img width="100%" src="./images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                    <div class = "p-8 relative articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$230.000</p>
                    <p class="font-medium font-green descuento fx-grow-70">20% OFF</p>
                    <h3 class="font-medium product-title w-100">Macbook Pro 2019</h3> 
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8 bg-white">
                    <img width="100%" src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10">
                    <div class = "p-8 relative articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$70.500</p>
                    <p class="font-medium font-green descuento fx-grow-70">10% OFF</p>
                    <h3 class="font-medium product-title w-100">Galaxy s10</h3> 
                    </div>
                </article>
            </div>
            <div class="w-100 w-tablet-50 w-desktop-25 p-8">
                <article class="product mb-8 bg-white">
                    <img width="100%" src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <div class = "p-8 relative articulos">
                    <p class="font-green"><i class="fas fa-truck esquinas_redondeadas rotation"></i> </p>
                    <p class="font-large precio mr-8">$23.200</p>
                    <p class="font-medium font-green descuento fx-grow-70">%5 OFF</p>
                    <h3 class="font-medium product-title w-100">Samsung 43</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="footer-hor">
                <div>
                    <p class="center-icon center"><i class="fas fa-credit-card"></i>
                    <p class="center"><strong>Pagá con tarjeta o en efectivo</strong></p>
                    <p class="center">Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p> 
                </div>
                <div>
                    <p class="center-icon"><i class="fas fa-gift"></i></p>
                    <p class="center"><strong>Envío gratis desde $ 2.500</strong></p>
                    <p class="center">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p> 
                </div>
                <div>
                    <p class="center-icon"><i class="fas fa-user-shield"></i></p>
                    <p class="center"><strong>Seguridad, de principio a fin</strong></p>
                    <p class="center">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p> 
                </div>
            </div>
            <div class="footer-cop">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
            </div>
        </section>
    </footer>
</body>
</html>