.p-8{
    padding: 8px;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.m-center{
    margin: 0 auto;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mr-8{
    margin-right: 8px;
}

.mb-0{
    margin-bottom: 0%;
}

.mx-4{
    margin-left: 4px;
    margin-right: 4px;
}

.mx-8{
    margin-left: 8px;
    margin-right: 8px;
}


.mb-8{
    margin-bottom: 8px;
}

.relative{
    position: relative;
}

.hide{
    display: none;
}

@media(min-width: 576px){
    .tablet-hide{
        display: none;
    }
    .tablet-fx{
        display: flex;
    }
    .w-tablet-50{
        width: 50%;
    }
    .w-tablet-70{
        width: 70%;
    }
    .w-tablet-33{
        width: 33%;
    }
}

@media(min-width: 992px){
    .w-desktop-25{
        width: 25%;
    }
    .w-desktop-50{
        width: 50%;
    }
    .w-desktop-70{
        width: 70%;
    }
    .w-desktop-33{
        width: 33%;
    }
}

.form-field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
   
.form-field > .form-input {
    background-color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
  }
   
.form-field.error > .form-input {
    border: 1px solid red;
  }
   
.form-field.error > .input-option {
    border: 1px solid red;
  }
   
.form-field > .input-label {
    display: block;
    margin-bottom: 4px;
    width: 100%;
    font-weight: bold;
  }
   
.form-field > .accessibility-label {
    display: none;
  }
   
.form-field > .input-with-button {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 4px;
  }
   
.form-field > .input-with-button > input {
    padding: 4px;
    flex-grow: 1;
    border: none;
    width: 100%;
  }
   
.form-field > .input-with-button > .input-button {
    padding: 4px;
    border: none;
    margin-left: 2px;
    background-color: white;
  }
   
.form-field > .error-msg {
    display: block;
    padding-top: 4px;
    padding-left: 8px;
    color: red;
    width: 100%;
  }
  
.m-center{
    margin: 0 auto;
}
